body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
}

.main {
    width: 18%;
    height: 58vh;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    margin: 9% auto;
    position: relative;
}

.main img {
    position: absolute;
    width: 90%;
    border-radius: 8px;
    margin: 5%;
}

.text {
    position: absolute;
    top: 57%;
    text-align: center;
    margin: 7%;
}

@media screen and (max-width:768px) {
    .main {
        width: 82%;
        height: 70vh;
        margin-bottom: 35%;
    }

    .text{
        margin: 7% 12%;
    }
}